.ui {
  font-family: "Poppins", sans-serif !important;
}

html,
body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -9999999;
}

.ui.button.toggle.active {
  background-color: black !important;
}

.logo {
  position: absolute;
  bottom: 0px;
  right: 0;
  margin: 30px;
}

.header {
  margin-top: 100px;
  margin-left: 0;
}

.menu_wrapper {
  width: 50vw;
  margin-bottom: 30px;
}

#canvas {
  resize: both;
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#ui_wrapper {
  pointer-events: none;
  margin: 30px;
}

#ui_wrapper > * {
  pointer-events: auto;
}

.ui_content {
  width: 25%;
  margin-top: 0;
  margin-left: 0;
}

.segments {
  background-color: white;
}

.expandable {
  overflow: hidden;
}

.visibile {
  display: block;
}

.hidden {
  display: none;
}

.h_auto {
  height: auto;
}

.ui_cards {
  box-sizing: border-box;
  height: 50vh;
  overflow: scroll;
  border-radius: 5px;
}

.chart_container {
  position: absolute;
  bottom: 0px;
  left: 0;
  margin: 30px;
  width: 50vw;
  height: -50px;
}

#chart {
  border: solid 1px white;
  border-radius: 5px;
  width: 100%;
  margin: 0;
}

.blur_bk {
  backdrop-filter: blur(5px);
}

.blur_bk_more.blur_out {
  animation: blur-out 0.3s both;
}

.blur_bk_more.blur_in {
  animation: blur-in 0.3s both;
}

@keyframes blur-in {
  from {
    backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(20px);
  }
}
@keyframes blur-out {
  from {
    backdrop-filter: blur(20px);
  }
  to {
    backdrop-filter: blur(0px);
  }
}

.dygraph-label {
  color: white;
}

.dygraph-ylabel {
  margin-top: 10px;
}

.dygraph-axis-label {
  color: rgb(128, 128, 128) !important;
  font-size: 0.75em;
}

path {
  stroke-dasharray: 10000;
  stroke-dashoffset: 10000;
  animation: dash 10s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.ui_camera {
  position: absolute;
  top: 0px;
  right: 120px;
  margin: 30px;
}

.ui_focus {
  position: absolute;
  top: 0px;
  right: 60px;
  margin: 30px;
}

.ui_calendar {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 30px;
}

.calendar.popup::before {
  display: none;
}

.ui_slider {
  position: relative;
  margin: 0 10px;
  height: 8px;
  vertical-align: middle;
}

.noUi-handle {
  height: 10px !important;
  width: 10px !important;
  top: -2px !important;
  right: -5px !important; /* half the width */
  border-radius: 100%;
  background-color: black;
}

.noUi-handle::before,
.noUi-handle::after {
  display: none;
}

.noUi-connect {
  background: lightgray !important;
}

.full_page {
  position: absolute;
  margin-top: -1000px;
  margin-left: -1000px;
  height: 1000vh;
  width: 1000vw;
  z-index: -9;
}

.z3 {
  /* model canvas */
  z-index: -999;
}
.z2 {
  /* dygraph */
  z-index: -99;
}
.z1 {
  /* blur modal */
  z-index: -9;
}

.no_pt {
  pointer-events: none !important;
}

.bw {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.carousel_cell {
  margin: 30px;
  background-color: white;
  height: 80vh;
}

.rounded {
  border-radius: 30px;
}

.chart_wrap {
  position: relative;
  width: 30vw;
  height: 30vh;
}

.show {
  display: block;
}

.not_show {
  display: none;
}

.gradient {
  background: linear-gradient(to right, #313131, #39ff14) !important;
  height: 11px;
  width: 100%;
}
